@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffebeb;
}

navbar{
    display: flex;
    background-color: #D3AB9E;
    padding: 2.1vmin;
    align-items: center;
    height: 3.5vmin;
    margin: 0 0 2vmin 0;
}

navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

navbar ul li pre{
    margin: 0 0 0 3vmin;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3vmin;
}

.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-style: italic;
    margin: 0 3vmin 0 0;
    font-size: 3.2vmin;
}

navbar ul li a{
    text-decoration: none;
    color: black;
}

navbar ul li a pre:hover{
    color: rgb(67, 0, 0);
    font-weight: bold;
}

form{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3vmin 0 0 3vmin;
}

form h1{
    font-size:6vmin;
}

.input{
    margin: 3vmin 0 1.3vmin 0;
}

.input p{
    font-size: 2.5vmin;
}

input{
    height: 2.7vmin;
    width: 40vmin;
    padding:.1vmin 0 .1vmin .5vmin;
}

.exchange{
    display: flex;
    margin: 3vmin 0 0 0;
    font-size: 2.5vmin;
}

i{
    margin: 0 8vmin;
    transform: translateY(3vmin);
    font-size: 3.1vmin;
}

select{
    height: 3.5vmin;
    width: 8.5vmin;
}

.btn{
    display: flex;
    width: 36vmin;
    justify-content: center;
    margin: 4.3vmin 0 0 0;
}

.btn button{
    width: 13vmin;
    height: 4vmin;
    border-radius: 1.75vmin;
    border: 0vmin solid black;
    background-color: #D3AB9E;
    font-size: 2vmin;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn button:hover{
    transform: scale(1.025);
}

.output{
    margin: 4.7vmin 0 0 0;
    display: flex;
    justify-content: center;
    width: 36vmin;
}

footer{
    width: 100%;
    height: 4vmin;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3AB9E;
}
